*{
    margin: 5px;
    /* padding: 0px; */
}
.jj{
    background-color: cyan;
    border: 2px solid burlywood;
    padding: 5px;
    width: 10%;
    margin: 10px 550px;
}
#ii{
    border: 2px solid rgb(219, 210, 210) ;
    padding: 10px;
    background-color: bisque;
    width: 50%;
    margin: 10px 350px;
}
.cc{
    border: 5px solid brown;
    border-radius: 10px 40px 20px;
    text-align: center;
    background-color: rgb(194, 235, 197);
    padding: 8px;
}
.ll{
    background-color: aquamarine;
    margin: 10px 350px;
    border: 10px solid tomato;
    padding: 30px;
    width: 40%;
    /* text-align: center; */
    
}
.s1{
    /* background-color: rgb(126, 95, 129); */
    margin: 10px 350px;
    border: 10px solid rgb(199, 144, 134);
    padding: 30px;
    width: 40%;
    /* text-align: center; */
    /* background-image: url('../222222.jpg'); */
    color: rgb(220, 233, 222);
    font-size: large;
    /* font-style: ; */
    background-position: 50px;
    background-size: 5px;
    background-image: url(222222.jpg);
    
}
.im{
    /* height: 300px; */
    /* background-color: bisque; */
    /* background-image: url("desktop-wallpaper-hamburger-fast-food-food-bottle-vegetables.jpg"); */
    /* background-image: url("../hot-delicious-kacchi-biryani-dish-260nw-2328685737.webp"); */
    background-image: url(jjjjjj.jpg);
    /* background-image: url('../222222.jpg'); */
    /* background-image: url('../333333.webp'); */
    /* background-repeat: no-repeat; */
    /* background-repeat: repeat-x; */
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
    /* background-size: contain; */
    /* background-size: 200px; */
    /* background-image: url(download.jpg); */
}
.hhh{
    border: 2px solid rgb(219, 210, 210) ;
    padding: 10px;
    background-color: bisque;
    width: 8%;
    margin: 10px 550px;
}
.p1{
    border: 5px solid brown;
    border-radius: 10px 40px 20px;
    text-align: center;
    background-color: rgb(194, 235, 197);
    padding: 8px;
    width: 40%;
    margin: 10px 380px;
}
.m1{
    background-color: rgb(126, 95, 129);
    margin: 10px 330px;
    /* border: 10px solid rgb(199, 144, 134); */
    /* padding: 30px; */
    width: 40%;
    /* text-align: center; */
    /* background-image: url('../222222.jpg'); */
    /* color: rgb(220, 233, 222); */
    font-size: large;
    /* font-style: ; */
    /* background-position: 50px; */
    /* background-size: 5px; */
    margin: 10px 380px;
}
.s2{
    border: 2px solid rgb(219, 210, 210) ;
    padding: 10px;
    background-color: bisque;
    width: 8%;
    margin: 10px 550px;
}
.p2{
    border: 5px solid brown;
    border-radius: 10px 40px 20px;
    text-align: center;
    background-color: rgb(194, 235, 197);
    padding: 8px;
    font-size: larger;
    width: 50%;
    margin: 10px 300px ;
}
.m2{
    background-color: rgb(126, 95, 129);
    margin: 10px 330px;
    /* border: 10px solid rgb(199, 144, 134); */
    /* padding: 30px; */
    width: 40%;
    /* text-align: center; */
    /* background-image: url('../222222.jpg'); */
    /* color: rgb(220, 233, 222); */
    font-size: large;
    /* font-style: ; */
    /* background-position: 50px; */
    /* background-size: 5px; */
    margin: 10px 380px;
}
.c{
    /* border: 2px solid rgb(219, 210, 210) ; */
    padding: 10px;
    background-color: rgb(243, 241, 239);
    width: 12%;
    margin: 10px 550px;
    font-weight: bolder;
    font-style: italic
    margin: 10px 380px;
}
.ff{
    /* border: 2px solid rgb(219, 210, 210) ;
    padding: 10px;
    background-color: bisque;
    width: 8%;
    margin: 10px 550px; */
}
